{% extends 'layout.html' %}

{% block title %}
    Search Results - Django App
{% endblock %}

{% block content %}
    <h2>Search</h2>

    <!-- Search Form -->
    <form method="GET" action="{% url 'search:search' %}">
        <div class="form-row">
            <!-- Search Query -->
            <div class="form-group col-12">
                <div class="input-group">
                    <input class="form-control py-2 border-right-0 border" type="search" name="q" value="{{ request.GET.q }}" placeholder="Search users or questions...">
                </div>
            </div>
        </div>

        <!-- Filter Options -->
        <div class="form-row">
            <!-- Username Filter -->
            <div class="form-group col-md-3">
                <input type="text" class="form-control" name="username_contains" value="{{ request.GET.username_contains }}" placeholder="Username contains...">
            </div>

            <!-- User credentials Filter -->
            <div class="form-group col-md-3">
                <input type="text" class="form-control" name="credentials_contains" value="{{ request.GET.credentials_contains }}" placeholder="User credentials...">
            </div>

            <!-- Questions Filter -->
            <div class="form-group col-md-3">
                <input type="text" class="form-control" name="questions_contains" value="{{ request.GET.questions_contains }}" placeholder="Question contains...">
            </div>

            <!-- Session Info Filter -->
            <div class="form-group col-md-3">
                <input type="text" class="form-control" name="session_info_contains" value="{{ request.GET.session_info_contains }}" placeholder="Session info contains...">
            </div>
        </div>

        <!-- Date Range Filters -->
        <div class="form-row">
            <div class="form-group col-md-3">
                <label for="created_at_min" class="small-label">Created At (Min)</label>
                <input type="date" class="form-control" id="created_at_min" name="created_at_min" value="{{ request.GET.created_at_min }}">
            </div>

            <div class="form-group col-md-3">
                <label for="created_at_max" class="small-label">Created At (Max)</label>
                <input type="date" class="form-control" id="created_at_max" name="created_at_max" value="{{ request.GET.created_at_max }}">
            </div>

            <div class="form-group col-md-3">
                <label for="updated_at_min" class="small-label">Updated At (Min)</label>
                <input type="date" class="form-control" id="updated_at_min" name="updated_at_min" value="{{ request.GET.updated_at_min }}">
            </div>

            <div class="form-group col-md-3">
                <label for="updated_at_max" class="small-label">Updated At (Max)</label>
                <input type="date" class="form-control" id="updated_at_max" name="updated_at_max" value="{{ request.GET.updated_at_max }}">
            </div>
        </div>

        <!-- Search Button -->
        <button type="submit" class="btn btn-primary btn-block">Search</button>
    </form>

    <!-- Search Results -->
    {% if metadatas %}
    <div class="small-break"></div>
    <p>Results: {{ metadatas|length }}</p>
    <div class="small-break"></div>
    <div class="row">
    {% for meta in metadatas %}
        <div class="col-md-6 col-lg-4">
        <div class="card mb-4">
            <div class="card-body">
                <h5 class="card-title">
                    <a href="{% url 'search:detail' username=meta.user.username %}">
                        User: {{ meta.user.username }}
                    </a>
                </h5>                
            <p class="card-text">
                <strong>Credentials:</strong> {{ meta.credentials|join:", " }}
            </p>
            <p class="card-text">
                <strong>Questions:</strong> {{ meta.questions|join:", " }}
            </p>
            <p class="card-text">
                <strong>Session Info:</strong> {{ meta.session_info }}
            </p>
            <p class="card-text">
                <small class="text-muted">Last Updated: {{ meta.updated_at }}</small>
            </p>
            </div>
        </div>
        </div>
    {% endfor %}
    </div>
    {% else %}
    <p>No results found.</p>
    {% endif %}

{% endblock %}
